<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/assets/img/icon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/assets/img/icon/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/icon/apple-touch-icon-152x152.png" />

    {% include styles.html %}

    <!-- build:js({app,.tmp}) /assets/js/modernizr.js -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  <body>
    <header>
      <div><a href="/">Barbórka</a></div>
      <ul id="menu">
        <li id="magic-line"></li>
        <li ><a href="/#o-barborce">O BARBÓRCE</a></li>
        <li class="hide {% if page.menu == 1 %}current_page{% endif %}"><a href="/infografiki/">INFOGRAFIKI</a></li>
        <li class="hide {% if page.menu == 2 %}current_page{% endif %}"><a href="/gry/">GRY</a></li>
        <li ><a href="/#pobierz">POBIERZ</a></li>
        <li ><a href="/#kontakt">KONTAKT</a></li>
        <li ><a href="/#partnerzy">PARTNERZY</a></li>
      </ul>
      <ul id="lang">
        <li><a href="index.html">PL</a></li>
        <li><a href="en/en.html">EN</a></li>
        <li><a href="fr/fr.html">FR</a></li>
      </ul>
      
    </header>

    <section class="{{page.class}}">
      {{ content }}
    </section>
    {% if page.class == 'home' %}
    <hr/>
    <section id="o-barborce">
      {% include o-barborce.html %}
    </section>
    <hr/>
    <section id="pobierz">
      {% include pobierz.html %}
    </section>
    <hr/>
    <section id="kontakt">
      {% include kontakt.html %}
    </section>
    <hr/>
    <section id="partnerzy">
      {% include partnerzy.html %}
    </section>

    <footer> 
      <small> &copy; 2014 - senei_web </small>
    </footer>
    {% endif %}
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include scripts.html %}
    {% include google-analytics.html %}
  </body>
</html>
