section.info {
	text-align: center;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0;

	ul.tabs {

		@include outer-container;
		max-width: 480px;
	
	}
	ul.content{
		max-width: 100%;		
	}
	
	ul.content li {
		display: none;
		text-align: center;
		padding-top: 10px;
		&.selected {
			display: block;
		}
		p {
			font-size: 14px;
		}
		button {
			background-color: #be202e;
			border: none;
			padding: 5px 40px 10px;
			display: block;
			margin: 0 auto;
			
			font-family: "Bree Serif";
			font-weight: normal;
			font-size: 21px;
			color: white;
			margin-top: 20px;
			letter-spacing: 0.1em;

		}
	}
	ul.tabs li {
		@include span-columns(1 of 3);
		width: 33.33%;
		margin-right: 0;
		text-align: center;

		background: black url(../img/gry/mask8white.png) center center no-repeat;
		background-size: auto 100%;

    transition: background-size 0.2s ease-in, background-color 0.5s ease;
    -moz-transition: background-size 0.2s ease-in, background-color 0.5s ease;
    -web-kit-transition: background-size 0.2s ease-in, background-color 0.5s ease;

		height: 160px; 

		&:hover, &.selected {
			background-size: auto 115%;
			background-color: #be202e;
			cursor:pointer;
		}
		
		h3{
			margin-top: 60px;
			color: white;
			font-size: 1em;
			color: white;
			&>span{
				position: relative;
				top: 8px;
			}
		}
		
	}
	
	ul.content li div.info {
		background-color: #a8dacb;
		min-height: 2000px;
		min-width: 960px;
		width: 100%;
		max-width: 100%;
		overflow: hidden;
		//
		position: relative;
		left: 0px;
		top: 200px;
		padding-top: 160px;
		//
		line-height: 0em;
		h2, p{
			position: absolute;
			top: -200px;
			left: 50%;
		}
		h2{
			color: white;
			font-family: "Dosis";
			font-weight: bold;
			font-size: 45px;
		}
		img{
			max-width: 0px;
			min-width: 100%;
		}
		&.info_3 {
			background: #a8dacb url(../img/info/03/top.png) top center repeat-x;
			padding-top: 180px;

			& > h2{
				top: 45px;
				left: 50%;
				margin-left: -150px;
			}
		}
		&.info_2 {
			background: #a8dacb url(../img/info/02/top.png) top center repeat-x;

			& > h2{
				top: 45px;
				left: 50%;
				margin-left: -150px;
			}
		}
	}
}

body.infoGrafiki {
	padding: 0px;
	margin: 0px;
	section.info{
		text-align: center;
		margin: 0px;
		padding: 0;
		line-height: 0px;

	}
	& > a.close_x {
  	position: fixed;
  	left: 95%;
  	top: 15px;
  	width: 60px;
  	img {
  		max-width: 90%;
			@include transition (all 0.3s ease-in 0.2s);
  	}
  	&:hover img {
			max-width: 100%;
	  	margin: -5%;
  	}
	}
	& > a.top {
  	position: fixed;
  	left: 95%;
  	bottom: 15px;
  	width: 60px;
  	img {
  		max-width: 90%;
			@include transition (all 0.3s ease-in 0.2s);
  	}
  	&:hover img {
			max-width: 100%;
	  	margin: -5%;
  	}
	}	
}