<img src="/assets/img/gry/mask8white.png" alt="" style="display:none;">
<ul class="tabs">
	<li data-num="1"><h3>GÓRNICZE<br>MEMO</h3></li>
	<li data-num="2"><h3>GÓRNICZE<br>DYNKSY</h3></li>
	<li onClick="location.href='./gry/slownik/'"><h3>SŁOWNIK<br>DYNKSÓW</h3></li>
</ul>

<ul class="content">
	<li data-num="1"> <p>
	<strong>Górnicze Memo</strong> to gra, która pozwoli zapamiętać najważniejsze obrazy, związane z górnictwem.
	<br/>Po kliknięciu na lewą stronę karty, odkrywa się jej prawa strona. W przypadku błędnego ruchu, karty
	<br/>ponownie się zakrywają. Poprawne odkrycie wszystkich par powoduje przejście do następnej gry.
	<br/><strong>Powodzenia!</strong>
	</p><br/>
	<button onClick="location.href='./gry/memo/'">graj</button></li>
	<li data-num="2"> <p>

	<strong>Górnicze Dynksy</strong> to gra, dzięki której poznajemy najważniejsze słowa związane z górnictwem. Pod każdym
	<br/>obrazem pojawiają się 4 różne słowa, pośród których znajduje się to poprawne. Po kliknięciu na niepoprawne
	<br/>hasło, pojawia się ostrzeżenie. Kliknięcie w poprawne słowo powoduje przejście do następnej gry.

	<br/><strong>Powodzenia!</strong>
	</p><br/>
	<button onClick="location.href='./gry/dynksy/'">graj</button>
	</li>
	<li data-num="3" ><!--  <p> 
	<strong>SŁOWNIK DYNKSÓW</strong> <br/>
	gra w przygotowaniu ...
	<strong>zaprazamy do pozostałych</strong>
	</p> -->
	<!-- <button onClick="location.href='/barborka/gry/roznice/'">graj</button> --></li>
	<li class="selected" >
		Sprawdź swoją wiedzę dotyczącą górnictwa. Edukacyjne gry pomagają utrwalić ikony najważniejszych
		<br/>górniczych elementów. W przypadku słabych wyników zachęcamy do przeanalizowania infografik
		<br/>i słownika dynksów.<br/>
		<strong>Udanej zabawy!</strong>
	</li>

</ul>