<!-- ---
layout: default
title: barborka
menu: 4
class: kontakt
--- -->
<p>W razie potrzeby i&nbsp;ochoty, zapraszamy do kontaktu. Barbórka zachęca do wyrażania
<br/>opinii na temat projektu. Jest otwarta na współpracę, ciągle poszukuje partnerów.
<br/>Odpowie na każde nurtujące Państwa pytanie!</p>
<br/>
<div class="con">
<p class="box left"><img src="/assets/img/icon/T.jpg"><span>726 325 255</span></p>
<p class="box right"><img src="/assets/img/icon/M.jpg"><span>barborka.edu@gmail.com</span></p>
</div>
<br/>
<p>Projekt powstaje w&nbsp;pracowni Projektowania Identyfikacji Wizualnej oraz pracowni
<br/>Grafiki Informacyjnej Uniwersytetu Artystycznego w&nbsp;Poznaniu.
</p>
<br/>
<h5>POMYSŁ I REALIZACJA:</h5>
<p>Karolina Czaja</p>
<h5>WEBMASTERING:</h5>
<p class="pb0">Maksymilian Grudziecki <small>senei_web</small></p>
<p>Paulina Pęsik</p>
<h5>WSPARCIE MERYTORYCZNE:</h5>
<p class="pb0">dr Wojciech Janicki</p>
<p class="pb0">prof. Lucyna Talejko-Kwiatkowska</p>
<p class="pb0">mgr Agata Kulczyk</p>

<p>mgr Marzena Drab</p>
