<p class="fl">
Edukacyjny projekt „Barbórka” powstał z&nbsp;potrzeby przybliżenia młodemu odbiorcy
<br>tajemnic górniczego świata. Zaprojektowane materiały podzielone zostały na dwie
<br>grupy. Pierwsza część dostępnych informacji opowiada o&nbsp;gór- niczych tradycjach, pracy
<br>górników oraz historii powstawania węgla, natomiast druga część sprawdza nabytą
<br>wcześniej wiedzę. Zawartość projektu została skonsultowana pod względem merytory-
<br>cznym ze specjalistami z&nbsp;branży górniczej, natomiast część edukacyjna opracowywana
<br>była pod nadzorem nauczycieli wczesnoszkolnych. W&nbsp;celu zapewnienia maksymalnej
<br>atrakcyjności przekazywanej wiedzy zaprojektowane zostały również gry logiczne
<br>o różnym stopniu trudności. Dopełnieniem projektu jest jego pełna interaktywność.
<br>Dostępne materiały funkcjonują w&nbsp;sposób elektroniczny.
<br>
<br>Zapraszamy do nauki i&nbsp;zabawy!</p>
<br><br>
<p class="fl">
Projekt edukacyjny jest ciekawą propozycją pomocy dla nauczycieli zarówno
<br>w przedszkolu jak i&nbsp;w&nbsp;szkole podstawowej przy omawianiu  tematyki związanej
<br>z Barbórką.  Chcąc  przybliżyć dzieciom historię i&nbsp;tradycję górniczą - autorka wykonała
<br>czytelne i&nbsp;przejrzyste infografiki. Ich omówienie w kolejnych tematycznych odsłonach
<br>pozwala na utrwalenie i&nbsp;sprawdzenie zdobytej wiedzy np. w grach.  Pełna interakty-
<br>wność programu pozwala na uatrakcyjnienie przedstawionego tematu.
</p>
<br>
<p class="fl">
Z głębokim przekonaniem, co&nbsp;do&nbsp;zasadności, poprawności i&nbsp;konstrukcji projektu,
<br>nowatorstwa i&nbsp;wartości społecznej rekomenduję jego wdrożenie.
</p>
<br><br>
<p class="pb0"><strong>Marzena Drab </strong></p>
<p class="pb0">Nauczyciel dyplomowany </p>
<p class="pb0">edukacji wczesnoszkolnej w Szkole Podstawowej nr 1 w Lublińcu</p><br><br>