<style>
  html
{ height: 100%;}

::selection {
  background: #00a577; 
}
::-moz-selection {
  background: #00a577;
}

code::selection {
    background: #00a577;
}

*
{ margin: 0;
  padding: 0;}

body
{ 
  background: #FFF;
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;} 

p
{
  line-height: 1.7em;}
  
 p span{
 padding-top: 40px;
 display: inline-block;} 
 

img
{ border: 0;}


ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;}

  
@font-face {
font-family: "BreeSerif";
src: url("assets/fonts/BreeSerif.otf");
}  


#main, #top, #box, #logo, #content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ margin:0 auto;
 width:auto;
 height:auto;
  margin-top:5px;
}
  
#top
{ height: auto;
}
  
#logo
{ width: auto;
  position: relative;
  float: left;
  margin-left: 30px;
  margin-top: 13px;}
 
#box
{ height: auto;
  float: left;}

#menubar
{ }  

ul#menu
{ float: left;
  margin: 0;}

ul#menu li
{ float: left;
  list-style: none;
  margin-right: 17px}

ul#menu li a
{ font-family: 'BreeSerif', sans-serif;
  font-size: 16px;
  display: block;
  padding: 52px 1px 52px 1px;
  float: left; 
  height: auto;
  margin-right: 17px;
  text-align: center;
  color: #000;
  text-decoration: none;
  background: url(assets/img/img.jpg);} 

ul#menu li.selected a
{ background: url(assets/img/img2.jpg);
  margin-right: 17px;
  float:left;}
 
ul#menu li.selected a:hover
{ padding: 52px 11px 52px 1px;}

#menu2
{ }  
  
ul#menulang
{ float: right;
  margin: 0;}

ul#menulang li
{ float: left;
  list-style: none;
  margin-right: 7px}

ul#menulang li a
{ font-family: 'BreeSerif', sans-serif;
  font-size: 16px;
  display: block;
  padding: 52px 1px 52px 1px;
  float: left; 
  height: auto;
  margin-right: 7px;
  text-align: center;
  color: #000;
  text-decoration: none;
  background: url(assets/img/img.jpg);} 

ul#menulang li.selected a
{ height: auto;
  margin-right: 7px;}

ul#menulang li.selected
{ margin-right: 7px;
  background: url(assets/img/img2.jpg) no-repeat center center fixed;}

ul#menulang li.selected a, ul#menu li.selected a:hover
{ background: url(assets/img/img2.jpg);
  margin-right: 7px;
  color: #000;}

ul#menulang li a:hover
{ color: #323232;
  margin-right: 7px;}
  
@font-face {
font-family: "Dosis-Book";
src: url("assets/fonts/Dosis-Book.ttf");
}  
@font-face {
font-family: "Dosis-Medium";
src: url("assets/fonts/Dosis-Medium.ttf");
  }
#content
{ text-align: left;
  padding: 0;
  float: center;
  font-family: 'Dosis-Book' sans-serif;
  font-size: 20px;
  height: auto;
  color: #000;}
 
#content2
{ margin: 0;
  text-align: center;
  padding-right: 100px;
  font-family: 'Dosis-Medium' sans-serif;
  font-size: 35px; 
  color: #000;
}   
  
#clear{clear:both;}

#footer
{ width: auto;} 

  
@media (min-width: 1071px) {
#main{width:960px;}
#logo{width:61px;height:auto;}
#top{width:960px;}
#box{width:808px;float:right;}
#footer{margin:0;width:1071px;}
}

@media (max-width: 1070px) {
#main{width:930px;}
#logo{width:61px;height:auto;}
#top{width:930px;}
#box{width:793px;float:right;}
#footer{margin:0;width:930px;}
}

@media (max-width: 970px) {
#main{width:730px;}
#logo{width:106px;height:auto;}
#top{width:622px;}
#box{width:730px;float:right;}
#footer{margin:0;width:730px;}
}

@media (max-width: 750px) {
#main{width:420px;}
#logo{width:61px;height:auto;}
#top{width:420px;}
#box{width:420px;}
#footer{margin:0;width:420px;}
}

@media (max-width: 470px) {
#main{width:300px;}
#logo{width:43px;height:auto;}
#top{width:300px;}
#box{width:300px;}
#footer{margin:0;width:300px;}
}


</style>
<!-- build:css({app,.tmp}) /assets/css/main.css -->
<link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">

<link rel="stylesheet" href="/assets/css/screen.css">
<!-- endbuild -->
