<!--<style>
  html
{ height: 100%;}

::selection {
  background: #00a577; 
}
::-moz-selection {
  background: #00a577;
}

code::selection {
    background: #00a577;
}

*
{ margin: 0;
  padding: 0;}

body
{ 
  background: #FFF;
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;} 

p
{
  line-height: 1.7em;}
  
 p span{
 padding-top: 40px;
 display: inline-block;} 
 

img
{ border: 0;}


ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;}

  
@font-face {
font-family: "BreeSerif";
src: url("assets/fonts/BreeSerif.otf");
}  


#main, #top, #box, #logo, #content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ margin:0 auto;
 width:auto;
 height:auto;
  margin-top:5px;
}
  
#top
{ height: auto;
}
  
#logo
{ width: auto;
  position: relative;
  float: left;
  margin-left: 30px;
  margin-top: 13px;}
 
#box
{ height: auto;
  float: left;}

#menubar
{ }  

ul#menu
{ float: left;
  margin: 0;}

ul#menu li
{ float: left;
  list-style: none;
  margin-right: 17px}

ul#menu li a
{ font-family: 'BreeSerif', sans-serif;
  font-size: 16px;
  display: block;
  padding: 52px 1px 52px 1px;
  float: left; 
  height: auto;
  margin-right: 17px;
  text-align: center;
  color: #000;
  text-decoration: none;
  background: url(assets/img/img.jpg);} 

ul#menu li.selected a
{ background: url(assets/img/img2.jpg);
  margin-right: 17px;
  float:left;}
 
ul#menu li.selected a:hover
{ padding: 52px 11px 52px 1px;}

#menu2
{ }  
  
ul#menulang
{ float: right;
  margin: 0;}

ul#menulang li
{ float: left;
  list-style: none;
  margin-right: 7px}

ul#menulang li a
{ font-family: 'BreeSerif', sans-serif;
  font-size: 16px;
  display: block;
  padding: 52px 1px 52px 1px;
  float: left; 
  height: auto;
  margin-right: 7px;
  text-align: center;
  color: #000;
  text-decoration: none;
  background: url(/assets/img/img.jpg);} 

ul#menulang li.selected a
{ height: auto;
  margin-right: 7px;}

ul#menulang li.selected
{ margin-right: 7px;
  background: url(/assets/img/img2.jpg) no-repeat center center fixed;}

ul#menulang li.selected a, ul#menu li.selected a:hover
{ background: url(/assets/img/img2.jpg);
  margin-right: 7px;
  color: #000;}
-->
<!-- build:css({app,.tmp}) /assets/css/main.css -->
<link href='http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis:500,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">

<link rel="stylesheet" href="/assets/css/screen.css">
<!-- endbuild -->
