/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

#main.game {
	width: 720px; 
	height: 530px; 
	margin:auto;
	position: relative;
	h3{

			font-family: "BreeSerif";
			font-weight: normal;
			font-size: 21px;
			letter-spacing: 0.1em;
			text-align: center;
	}
	ul{
		margin: 0 auto;
	}
	ul:after {
	  clear: both; content: "."; display: block; height: 0; visibility: hidden;
	}
	a.close_x{
		background: url("/assets/img/_x_.gif") center no-repeat;
		width: 46px;
		height: 46px;
    margin-left: 280px;
    position: absolute;
    left: 50%;
    top: -10px;
	}

	ul#memoGame,
	ul#imagesCache {
		width: 720px;
		background: #eff1f0;
		margin: 15px auto;
		padding: 20px;
		&::selection {
			background: none;
		}
	}
	ul#memoGame li,
	ul#imagesCache li{
		list-style-type: none;
  	text-align: center;
		float: left;
	}
	ul#imagesCache {
	//	display: none;
	}
	ul#memoGame li {
		background: url("/assets/img/boardThile.png") center no-repeat;
		width: 160px;
		height: 160px;
		background-size: 150px;
		margin: 5px;
		padding: 0px;
		cursor: pointer;
		&::selection {
			background: none;
		}
		img{	
		  transition: max-width 0.2s ease-in, margin 0.5s ease;
		  -moz-transition: max-width 0.2s ease-in, margin 0.5s ease;
		  -web-kit-transition: max-width 0.2s ease-in, margin 0.5s ease;
			&::selection {
				background: none;
			}
		}
		&.blocked > img {
			max-width: 150px;
			margin: 10px;
		}
	}
	

	// start
	ul.tabs {
		width: 75%;
	}
	ul.content {
		width: 90%;
	}
	ul.content li {
		display: none;
		list-style-type: none;
  	margin: 0;
  	padding: 0;
		text-align: center;
		&.selected {
			display: block;
		}
		p {
			font-family: 'Dosis Book';
			font-size: 14px;
		}
		button {
			background-color: #be202e;
			border: none;
			padding: 5px 40px 10px;
			
			font-family: "BreeSerif";
			font-weight: normal;
			font-size: 21px;
			color: white;
			margin-top: 20px;
			letter-spacing: 0.1em;

		}
	}
	ul.tabs li {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
		
		float: left;
		width: 33.33%;
		
		text-align: center;

		background: black url(/assets/img/mask8white.png) center center no-repeat;
		background-size: auto 190px;

    transition: background-size 0.2s ease-in, background-color 0.5s ease;
    -moz-transition: background-size 0.2s ease-in, background-color 0.5s ease;
    -web-kit-transition: background-size 0.2s ease-in, background-color 0.5s ease;

		height: 170px;

		&:hover, &.selected {
			background-size: auto 210px;
			background-color: #be202e;
			cursor:pointer;
		}
		
		h3{
			margin-top: 60px;
			color: white;

			span {
				padding-top: 10px;
				display: block;
			}
		}
	}
}
